<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wux.dao.ClogDao">
	<resultMap type="Clog" id="clogMap">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="time" property="time" />
		<result column="detail" property="detail" />
		<result column="type" property="type" />
	</resultMap>
	<!-- 增加用户 -->
	<insert id="addClog">
		insert into clog values( #{id},
		#{username}, #{time},
		#{detail}, #{type})
	</insert>


	<!-- 分页用户日志 -->
	<!-- 分页查询授信 -->
	<select id="showClog" resultType="Clog">
		select id, username,
		time, detail, type
		from clog
		limit #{start}, #{rows}
	</select>
	
	<!-- 查询总数 -->
	<select id="showTotal" resultType="Integer">
		select count(*)
		from clog
	</select>

</mapper>
