body,ul,li{margin: 0 auto;padding: 0;}  


/****************** start 手风琴插件 *****************/
.accordion-wx ul{list-style-type: none;cursor: pointer;color: white;line-height: 30px;text-align: center;}
.accordion-wx ul span{background-color: #111;display: block;font-weight: bold;border-bottom: 1px solid #ccc;border-radius: 5px;}
.accordion-wx ul span:hover{background-color: blue;}
.accordion-wx ul li{background-color: darkslateblue ;border-bottom: 1px solid #ddd;border-radius: 15px;display: none;}
.accordion-wx ul li:hover{background-color: darkslategray;}
/****************** end 手风琴插件 *****************/
