<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>弹性布局-v2.0</title>

	<link rel="stylesheet" type="text/css" href="../assets/css/style-flex-wrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style-accordion2.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style-highlighter.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style-tab.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style-navigation.css">


	<style type="text/css">
		*{margin: 0;padding: 0}
		.tab-wx{float: left;margin-left: 50px;}
	</style>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js" type="text/javascript"></script>
<script src="../assets/js/accordion-wx2.js" type="text/javascript"></script>
<script src="../assets/js/tab-wx.js" type="text/javascript"></script>
</head>
<body>
	<div class="flex-wrap">
		<header>

			<nav class="navigation-wx" data-config="">
				<ul>
					<span><a href="#">首页</a></span>
					<li><a href="#">Java</a></li>
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
					<li><a href="#">jQuery</a></li>
				</ul>
			</nav>
		</header>
		<div class="flex-container">
			<aside>
				<div class="accordion-wx">
					<ul>  
						<span class="accordion-head">标题11111</span>  
						<li>11111</li>  
						<li>11111</li>  
						<li>11111</li>  
						<li>11111</li>  
						<li>11111</li>
					</ul>  
					<ul>  
						<span class="accordion-head">标题22222</span>  
						<li>22222</li>  
						<li>22222</li>  
						<li>22222</li>
						<li>22222</li>
						<li>22222</li>  
					</ul>  
					<ul>  
						<span class="accordion-head">标题33333</span>  
						<li>33333</li>  
						<li>33333</li>  
						<li>33333</li>  
						<li>33333</li>  
						<li>33333</li>  
					</ul>  
				</div>
			</aside>

			<main>
				<div class="highlighter">
					<ol>
						<li>aaa</li>
						<li></li>
						<li></li>
						<li>fffddsdfs</li>
						<li></li>
						<li></li>
						<li>sfsdfs</li>
						<li></li>
						<li>public static void main(String[] args){</li>
						<li>}</li>
						<li>springMVC</li>
						<li>Controller 参数别名 @RequestRaram("anthorName")</li>
						<li>参数为数组 (String[] names){</li>
						<li>StringBuilder sb = new StringBuilder()</li>
						<li>sb.append(names[1].append(" ");)</li>
						<li>}</li>
						<li></li>
						<li></li>
					</ol>
				</div>



				<div class="tab-wx" data-config='{}'>
					<ul class="tab-nav">
						<li class="active"><a href="#">新闻</a></li>
						<li><a href="#">娱乐</a></li>
						<li><a href="#">电影</a></li>
						<li><a href="#">科技</a></li>
					</ul>
					<div class="content-wrap">
						<div class="content-item current"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/bca8cd219d.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/a59b9f2140.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/e840e062f1.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201801/9999/500a1d71ed.jpg"></div>
					</div>
				</div>
				<div class="tab-wx" data-config='{"triggerType":"mouseover","effect":"fade","invoke":1,"auto":false}'>
					<ul class="tab-nav">
						<li class="active"><a href="#">新闻</a></li>
						<li><a href="#">娱乐</a></li>
						<li><a href="#">电影</a></li>
						<li><a href="#">科技</a></li>
					</ul>
					<div class="content-wrap">
						<div class="content-item current"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/bca8cd219d.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/a59b9f2140.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/e840e062f1.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201801/9999/500a1d71ed.jpg"></div>
					</div>
				</div>
				<div class="tab-wx" data-config='{"triggerType":"mouseover","effect":"slide","invoke":3,"auto":false}'>
					<ul class="tab-nav">
						<li class="active"><a href="#">新闻</a></li>
						<li><a href="#">娱乐</a></li>
						<li><a href="#">电影</a></li>
						<li><a href="#">科技</a></li>
					</ul>
					<div class="content-wrap">
						<div class="content-item current"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/bca8cd219d.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/a59b9f2140.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/e840e062f1.jpg"></div>
						<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201801/9999/500a1d71ed.jpg"></div>
					</div>
				</div>
			</main>
		</div>
		<footer>底部</footer>
	</div>


	<script type="text/javascript">

		$(function(){
			/* v3-js定制手风 */
			$(".accordion-wx").accordion();

			/* js定制选项卡 */
			$('.tab-wx').tab();

		});

	</script>
</body>
</html>