<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>选项卡-v1.0</title>

	<link rel="stylesheet" type="text/css" href="../assets/css/style-tab.css">
</head>
<body>
	<div class="tab-wx">
		<ul class="tab-nav">
			<li class="active"><a href="#">新闻</a></li>
			<li><a href="#">娱乐</a></li>
			<li><a href="#">电影</a></li>
			<li><a href="#">科技</a></li>
		</ul>
		<div class="content-wrap">
			<div class="content-item current"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/bca8cd219d.jpg"></div>
			<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/a59b9f2140.jpg"></div>
			<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201804/9999/e840e062f1.jpg"></div>
			<div class="content-item"><img src="http://t2.hddhhn.com/uploads/tu/201801/9999/500a1d71ed.jpg"></div>
		</div>
	</div>
</body>
</html>